:root{
    --background: hsl(50, 96%, 81%);
    --textColor: hsl(50, 85%, 11%);
    --subTextColor: hsl(50, 85%, 21%);
    --cardColor: hsl(50, 95%, 62%);
}

body{
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: "Shadows Into Light Two", cursive;
}

.details {
    & .details__content {
      display: none;
      opacity: 1;
      transition: opacity 0.5s linear;
  
      
    }
  
    &[open] {
      & .details__content {
        display: block;
      }
    }
  }

.SP__container {
    display: flex;

    & aside {
        width: 20%;
        padding-top: 5rem;
        height: 380vh;
        padding-left: 2rem;
        

        background-color: #FBE573;
        border-right: 2px solid #4B3F06;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h2{
            font-family: "Shadows Into Light Two", cursive;
        }

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-top: 2rem;

            & li {
                margin-bottom: 1rem;

                & a {
                    color: #4B3F06;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            li:hover {
                font-weight: 700; 
          }
        }
    }
}

.bg-img--1 {
    background-image: url('../img/blad-1.png'), url(../img/blad-2.png), url(../img/blad-3.png), url(../img/blad-4.png), url(../img/blad-3.png), url(../img/blad-1.png);
    background-repeat: no-repeat;
    background-position: -60px -50px, 30px -50px, 200px -50px, 1000px -50px, 900px -50px, 1100px -50px;
    padding: 0;
    margin: 0;
}

.stappenplan {
    width: 80%;
    display: flex;
    flex-direction: column;

    & li {
        border: 2px solid var(--cardColor);
    }

    & li:hover {
        background-color: #FBE573;
        border: 2px solid #4B3F06;
        }
}

.title_SP{
    margin: 2rem auto;
    padding-bottom: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h1{
        color: var(--textColor);
    }

    & p{
        color: var(--subTextColor);
    }
}

.SP__step--one{
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    & h2{
        color: var(--textColor);
        margin: 1rem auto;
        font-family: "Shadows Into Light Two", cursive;
    }

    & ul{
        display: flex;
        flex-direction: column;
    }

    & li{
        color: var(--subTextColor);
        margin:0 1rem;
        list-style: none;
        background-color: var(--cardColor);
        padding: 1rem;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .img__size--small{
        width: 50px;
    }
}

.SP__step--two{
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h2{
        color: var(--textColor);
        margin: 1rem auto;
        font-family: "Shadows Into Light Two", cursive;
    }

    & ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    & li{
        color: var(--subTextColor);
        margin:0 1rem;
        list-style: none;
        background-color: var(--cardColor);
        padding: 1rem;
        border-radius: 20px;
        width: 100%;
        margin-bottom: 1rem;

    }

}

.SP__step--three{
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h2{
        color: var(--textColor);
        margin: 1rem auto;
        font-family: "Shadows Into Light Two", cursive;
    }

    & ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    

        & li{
            color: var(--subTextColor);
            margin:0 1rem;
            list-style: none;
            background-color: var(--cardColor);
            padding: 1rem;
            border-radius: 20px;
            width: 100%;
            margin-bottom: 1rem;

            & pre {
                background-color: #957F0D;
            }

        }
    }
}