body {
    background-color: #FDEDA1;
    text-align: center;
}

h1 {
    color: #322A04;
}

#container {
    background-color: #FADC44;
    min-width: 62.9375rem;
    min-height: 42.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Vier kolommen */
    gap: 2rem;
}

.card {
    background-color: #4B3F06;
    max-width: 10rem;
    max-height: 12rem;
    border-radius: 1rem;
}