body {
    background-color: #FDEDA1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-img--2 {
    background-image: url('../img/blad-1.png'), url(../img/blad-2.png), url(../img/blad-3.png),url('../img/blad-1.png'), url(../img/blad-2.png), url(../img/blad-3.png), url(../img/blad-4.png), url(../img/blad-1.png), url(../img/blad-4.png), url(../img/blad-3.png), url(../img/blad-1.png);
    background-repeat: no-repeat;
    background-position: -80px -50px, 30px -50px, 200px -50px, 300px -50px, 400px -50px, 550px -50px,650px -50px, 780px -50px, 1000px -50px, 900px -50px, 1100px -50px;
    padding: 0;
    margin: 0;
}

#container {
    background-color: #FADC44;
    border-radius: 2rem;
    width: 60%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
    margin: 2rem;
}

.card {
    position: relative;
    background-color: #4B3F06;
    width: 10rem;
    height: 12rem;
    border-radius: 1rem;
    overflow: hidden;

    & h3 {
        color: #FDEDA1;
        position: relative;
        margin-top: 9rem;
        display: none;
    }

    & img {
        display: none;
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 8rem;
    }
}

.card.flipped img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card.flipped img,
.card.flipped h3 {
    display: block;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.4s ease;
}

.message_container {
    min-width: 62.9375rem;
    min-height: 42.0625rem;
    position: absolute;
    border-radius: 2rem;
    padding-top: 5rem;

    & h3 {
        color: #4B3F06;
    }

    & button {
        color: #4B3F06;
        background-color: #FDEDA1;
        border: 1px solid #4B3F06;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    & a {
        color: #4B3F06;
    }
}

.main__container {
    display: flex;

    & aside {
        width: 15%;
        padding-top: 5rem;
        height: 110vh;
        padding-left: 2rem;
        

        background-color: #FBE573;
        border-right: 2px solid #4B3F06;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h2{
            font-family: "Shadows Into Light Two", cursive;
        }

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-top: 2rem;

            & li {
                margin-bottom: 1rem;

                & a {
                    color: #4B3F06;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            li:hover {
                font-weight: 700; 
          }
        }
    }

    & .game__container {
        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: center;
        margin-left: 10rem;


        & .game{
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 2rem;
            margin: 5rem 2rem;
        }
    }
}
